#container {
	position: relative;
	background: white;
}
body {
	margin-bottom: 0;
	margin-top: 0;
}
#banner {
	height: 300px;
	width: 100%;
	background-image: url("../img/ECGBanner.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#navbar {
	height: 50px;
	width: 100%;
	background: green;
}

#button_container {
	height: 50px;
	width: 75%;
	margin: 0 auto;
	
	position: relative;
	padding-left: 20px;
}

.btn {
	height: 100%;
	width: calc(20% - 20px);
	margin-right: 20px;
	float: left;
	text-align: center;
	line-height: 50px;
	color: white;
	transition: .2s;
}

.btn:hover{
	background: grey;
}

#content {
	margin: 10px 0;
	height: 400px;
}

#left_picture {
	width: 58%;
	height: 400px;
	background-image: url("../img/VLSB.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	margin: 0 1%;
}

#mission_statement {
	width: 35%;
	height: 400px;
	float: left;
	padding: 0 2.5%;
	line-height: 1.5;
	color: black;
}

#footer {
	height: 25px;
	padding: 0 20px;
	border-top: solid 1px black;
	line-height: 1.5;
}